# Exploratory Data Analysis

The steps for the process EDA is:

## 1. Load the file of IDEAM stations in Colombia and filter by the department of Boyacá

In [77]:
import pandas as pd
# Read Excel file
df = pd.read_excel('D:\Temp\IDEAM_2022\CNE_IDEAM.xls')
df_boyaca = df[df['DEPARTAMENTO'] == 'Boyacá']

## 2. Search for files corresponding to daily weather variables
Some variables of importance to the subject of the study are:
- evaporation: EV_TT_D: Total daily evaporation
- sun: BSHG_TT_D: Total daily sunshine
- temmax: THSM_MX_D: daily Maximum humid temperature
- temmin: THSM_MN_D: Daily minimum humid temperature
- humidity: HRHG_MEDIA_D: Average daily relative humidity
- speed-wind: VVAG_MEDIA_D: Average daily wind speed
- precipitation: PT_10_TT_D: Total daily precipitation

In [78]:
import os
nombre_carpeta = 'D:\Temp\IDEAM_2022\RAD_20229050172462'
contenido = os.listdir(nombre_carpeta)
files = []
for elemento in contenido:
    if elemento != 'desktop.ini' and 'EV_TT_D' in elemento:
        files.append(elemento)
    if elemento != 'desktop.ini' and 'BSHG_TT_D' in elemento:
        files.append(elemento)
    if elemento != 'desktop.ini' and 'THSM_MX_D' in elemento:
        files.append(elemento)
    if elemento != 'desktop.ini' and 'THSM_MN_D' in elemento:
        files.append(elemento)
    if elemento != 'desktop.ini' and 'HRHG_MEDIA_D' in elemento:
        files.append(elemento)
    if elemento != 'desktop.ini' and 'VVAG_MEDIA_D' in elemento:
        files.append(elemento)
    if elemento != 'desktop.ini' and 'PT_10_TT_D' in elemento:
        files.append(elemento)

## 3. Creation of a dataframe with station data

Separate data from file names: TYPE_SENSOR@STATION.data as follows:

| sensor | station | date | value |

the original date format is yyyy-mm-dd hh:mm:ss as it is total cumulative it is not worth having time so the idea is to convert only to yyyy-mm-dd

In [79]:
data = []
list_dataframes = []
for f in files:
    sensor = f[0:str(f).index('@')]
    station = f[str(f).index('@')+1:-5]
    data = pd.read_fwf(os.path.join(nombre_carpeta, f))
    data['sensor'] = sensor
    data['station'] = station
    list_dataframes.append(data)

frame_station = pd.concat(list_dataframes, axis=0, ignore_index=True)
frame_station[['date','value']] = frame_station['Fecha|Valor'].str.split('|',expand=True)
frame_station_final = frame_station.drop(['Fecha|Valor'], axis=1)
frame_station_final['date'] = frame_station_final['date'].str[:10]
frame_station_final

           sensor   station        date               value
0      PT_10_TT_D  23125160  2005-04-20  5.8999999999999995
1      PT_10_TT_D  23125160  2005-04-21  2.5000000000000004
2      PT_10_TT_D  23125160  2005-04-22                 0.0
3      PT_10_TT_D  23125160  2005-04-23                 0.0
4      PT_10_TT_D  23125160  2005-04-24                 8.2
...           ...       ...         ...                 ...
55144  PT_10_TT_D  35217090  2022-08-28   37.79999999999999
55145  PT_10_TT_D  35217090  2022-08-29  29.199999999999996
55146  PT_10_TT_D  35217090  2022-08-30  10.200000000000001
55147  PT_10_TT_D  35217090  2022-08-31                 0.0
55148  PT_10_TT_D  35217090  2022-09-01  0.9000000000000001

[55149 rows x 4 columns]

In [80]:
frame_station_final.describe()

            sensor   station        date  value
count        55149     55149       55149  55149
unique           1        21        6345   3389
top     PT_10_TT_D  24035360  2018-05-01    0.0
freq         55149      6345          21  27124

In [73]:
frame_station_final.date.describe()

count          55149
unique          6345
top       2018-05-01
freq              21
Name: date, dtype: object