# Exploratory Data Analysis

The steps for the process EDA is:

## 1. Load the file of IDEAM stations in Colombia and filter by the department of Boyacá

In [3]:
import pandas as pd
# Read Excel file
df = pd.read_excel('D:\Temp\IDEAM_2022\CNE_IDEAM.xls')
df_boyaca = df[df['DEPARTAMENTO'] == 'Boyacá']

## 2. Search for files corresponding to the daily accumulated precipitation

In [7]:
# PT_10_TT_D: Precipitación total diaria, filtrado por esta etiqueta en los archivos y por las estaciones de Boyacá
import os
nombre_carpeta = 'D:\Temp\IDEAM_2022\RAD_20229050172462'
contenido = os.listdir(nombre_carpeta)
files = []
for elemento in contenido:
    if elemento != 'desktop.ini' and 'PT_10_TT_D' in elemento:
        files.append(elemento)

## 3. Creation of a dataframe with station data

Separate data from file names: TYPE_SENSOR@STATION.data as follows:

| SENSOR | STATION | DATE | VALUE |

the original date format is yyyy-mm-dd hh:mm:ss as it is total cumulative it is not worth having time so the idea is to convert only to yyyy-mm-dd

In [59]:
data = []
list_dataframes = []
for f in files:
    sensor = f[0:str(f).index('@')]
    station = f[str(f).index('@')+1:-5]
    data = pd.read_fwf(os.path.join(nombre_carpeta, f))
    data['SENSOR'] = station
    data['STATION'] = sensor
    list_dataframes.append(data)

frame_station = pd.concat(list_dataframes, axis=0, ignore_index=True)
frame_station[['DATE','VALUE']] = frame_station['Fecha|Valor'].str.split('|',expand=True)
frame_station_final = frame_station.drop(['Fecha|Valor'], axis=1)
frame_station_final['DATE'] = frame_station_final['DATE'].str[:10]
frame_station_final

         SENSOR     STATION        DATE               VALUE
0      23125160  PT_10_TT_D  2005-04-20  5.8999999999999995
1      23125160  PT_10_TT_D  2005-04-21  2.5000000000000004
2      23125160  PT_10_TT_D  2005-04-22                 0.0
3      23125160  PT_10_TT_D  2005-04-23                 0.0
4      23125160  PT_10_TT_D  2005-04-24                 8.2
...         ...         ...         ...                 ...
55144  35217090  PT_10_TT_D  2022-08-28   37.79999999999999
55145  35217090  PT_10_TT_D  2022-08-29  29.199999999999996
55146  35217090  PT_10_TT_D  2022-08-30  10.200000000000001
55147  35217090  PT_10_TT_D  2022-08-31                 0.0
55148  35217090  PT_10_TT_D  2022-09-01  0.9000000000000001

[55149 rows x 4 columns]